@import "tailwindcss";
body{
    font-family: "Plus Jakarta Sans", sans-serif;
}

#hero,
#skills-container,
#project-section-container,
#exp-container{
    @apply  mb-[156px] ;
}

/* Header starts */
.header-texts {
    @apply text-center mb-15 text-gray-300 sm:scale-100 scale-80 ;
}
.header-texts h3{
    @apply text-[24px] font-bold text-[#00ffff]
}
.header-texts h1 {
    @apply text-[44px] font-bold;
}
/* Header ends */




/* Button starts */
.button {
    @apply bg-[#00ffff] text-[#1c1c1c] border-0 rounded-[30px] px-8 py-4 text-[14px] font-bold cursor-pointer md:scale-100 scale-90 ; 
    
}
button, .msg{
    animation: button-animation 2s infinite alternate;
}
/* button ends */




/* Skills */
.card{
    @apply shadow-[0px_4px_4px_rgba(0,0,0,0.25)] rounded-[16px] bg-gray-900 p-10 sm:w-[364px] max-w-[364px] w-full;
}
.card-elements{
    @apply flex flex-col items-center justify-center text-center;
}
.card .card-elements h4 {
    @apply text-[24px] font-semibold  text-gray-200 mt-[24px] mb-8;
}
.card .card-elements p{
    @apply text-white opacity-70 text-[16px] mb-6;
}
.card .card-elements a{
   @apply text-gray-200 font-bold text-gray-200 border-b;
}


/* Project starts */
.project{
    display: flex;
    flex-direction: column;
    @apply lg:flex-row lg:justify-between justify-center items-center border gap-8 rounded-[20px] sm:p-12 p-3.75;
}

.project .img-frame{
    @apply lg:w-100 w-full h-75 rounded-[20px] text-center flex justify-center items-center cursor-pointer hover:scale-102 lg:hover:scale-105 duration-500  mx-auto;
}

.img-frame img{
    @apply border-[3px] border-black rounded-[20px]
}
.project .desc {
    @apply lg:w-[66%]  flex flex-col gap-3 items-start text-left
}
.project .desc h4{
    @apply lg:text-[32px] text-[24px] font-bold text-gray-200;
}
.project .desc p{
    @apply text-gray-100;
}
.project .desc button{
    @apply block mx-auto lg:mx-0;
}
/* Project ends */



/* Experience starts */
.company{
    @apply text-center lg:p-10 p-7.5 border bg-gray-100 rounded-[16px] cursor-pointer;
}
/* Experience ends */


/* Blur effect animation */
.autoBlur{
    animation: autoBlur linear both;
    animation-timeline: view();
}
.fadeIn {
    animation: fadeIn linear both;
    animation-timeline: view();
}


/* Slider */
.item {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / 6) * (var(--position) - 1));
    
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter:grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}

.slider .item img{
    @apply w-[70%];
}





/* Animation */
.animated{
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 4s  infinite alternate,
        cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
@keyframes typing{
    from {
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes button-animation{
    0%{
        /* padding: 16px 32px; */
        transform: scale(1);
    }
    50%{
        /* padding: 16px 40px; */
        transform: scale(1.1);
    }
    100%{
        /* padding: 16px 32px; */
        transform: scale(1);
    }
}

@keyframes autoBlur {
    0%{
        filter: blur(40px);
        opacity: 0;
    }
    15%, 65% {
        filter: blur(0);
        opacity: 1;
    }
    100% {
        filter: blur(40px);
        opacity: 0;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-500px) scale(0.2);
        filter: blur(20px);
    }
    
    35%,
    65% {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
    
    100% {
        filter: blur(20px);
    }
}


@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: -100px;

    }
}